.recipe-item-container {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.recipe-item-container>div {
    flex: 1;
}

.recipe-item-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    /* Ensure the image does not exceed its container */
}

.recipe-item-publisher {
    font-size: 14px;
    font-weight: bold;
}

.recipe-item-title {
    font-size: 18px;
    margin: 5px 0;
}

.recipe-item-link {
    text-decoration: none;
    color: blue;
}

.recipe-item-link:hover {
    text-decoration: underline;
}